<div class="col-sm-8 blog-main">
	<h1>Editing Blog</h1>

	<!-- the extra parameters after render is meant to pass data into blog -->
	<%= render 'form', blog: @blog %>

	<%= link_to 'Show', @blog %> |
	<%= link_to 'Back', blogs_path %>

</div>
