<!-- grabbing the value of id for each portfolio item so each one of thes cards that distinguishes it that we can grab in our coffee script code -->
<div class="card" data-id="<%= portfolio_item.id %>">
	<img src=<%= portfolio_item.thumb_image %>></img>
	
	<p class="card-text">
		<span>
			<%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %>
		</span>

		<%= portfolio_item.subtitle %>
	</p>
</div>
