<h1>Edit this portfolio item</h1>

<!-- reference portfolio item model with @portfolio_item - ALSO MUST MAKE AVAILABLE IN CONTROLLER BEFORE USING -->
<%= render 'form', portfolio_item: @portfolio_item %>
