<h1>Portfolio Items</h1>

<!-- we need _path at the end because they attach to prefixes. You can either have _path or _url -->

<!-- _url is important when you need to pass a second option for subdomain: -->
<%= link_to "Create New Item", new_portfolio_path %>

<!-- pass in portfolio_item for edit_portfolio and access its id -->

<!-- pass in portfolio_item for portfolio_path, which means the show operation, and access its id -->
<!-- rails looks at the name of this directory, which is portfolios, instead of portfolio_items -->
<%= render partial: 'portfolio_item', collection: @portfolio_items %>
