<div class="album text-muted">
  <div class="container">

  	<!-- jquery sortable class -->
    <div class="row <%= "sortable" if logged_in?(:site_admin) %>">
    	<%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </div>

  </div>
</div>


<!-- we need _path at the end because they attach to prefixes. You can either have _path or _url -->
<!-- _url is important when you need to pass a second option for subdomain: -->


<!-- pass in portfolio_item for portfolio_path, which means the show operation, and access its id -->
<!-- rails looks at the name of this directory, which is portfolios, instead of portfolio_items
 -->
