<h1>Who we are</h1>
<p>Xiang Horse is a Beijing-based startup with a focus on environmental sustainability. We strive to create products that will benefit the fragile ecosystems found within China, and hopefully spread awareness of environmental issues to the rest of the world.</p>
